@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

/*font-family: 'Merriweather', serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    background-color: #F5F5F5;
    min-width: 800px;
    margin: 0 auto;
}

header {
    background-color: black;
}

header a {
    text-decoration: none;
    color: white;
}

.header__content {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    font-weight: 500;
}

.header__left {
    font-size: 3rem;
}

.header__menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    font-size: 1.8rem;
    width: 33%;
    text-align: center;
}

.orange_dot {
    color: #F6AD09;
}

.page1 {
    background: linear-gradient(180deg, rgba(0,0,0,1) 85%, rgba(245,245,245,1) 85%);
}

.page1__content {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page1__content-left {
    width: 40%;
    overflow: hidden;
}

.page1__content-img {
    width: 60%;
    overflow: hidden;
}

.page1__content-img img {
    width: 100%;
}

.page1__content-title {
    font-size: 4.6rem;
    font-weight: 600;
    color: white;
}

.page1__content-text {
    font-size: 2rem;
    font-weight: 400;
    color: #B2B2B2;
    margin: 2rem 0;
}

.page1__content-button {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 25px;
    background: #F6AD09;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: black;
}



.page2__title {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    margin: 2.4rem auto;
    font-size: 4.6rem;
    font-weight: 600;
    color: black;
}

.page2__content {
    max-width: 1400px;
    min-width: 800px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.page2__content-card {
    width: 31%;
}

.page2__content-card-img {
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%;
}

.page2__content-card-img img {
    max-width: 100%;
}

.page2__content-card-info {
    width: 90%;
    margin: 1rem auto;
    font-size: 3.2rem;
    font-weight: 600;
    color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page2__content-card-info div {
    width: 85%;
    text-align: justify;
}

.page2__content-card-price {
    font-size: 1.8rem;
    color: #595959;
    margin-top: 1rem;
    padding-left: 6.3rem;
}



.page3 {
    background: linear-gradient(0deg, rgba(245,245,245,1) 15%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(245,245,245,1) 85%);
    margin: 3rem 0;
}

.page3__content {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page3__content-left {
    width: 50%;
    overflow: hidden;
}

.page3__content-img {
    width: 50%;
    overflow: hidden;
}

.page3__content-img img {
    height: 100%;
}
.page3__content-above-title {
    color: #B2B2B2;
    font-size: 2.4rem;
}

.page3__content-title {
    font-size: 4.6rem;
    font-weight: 600;
    color: white;
    margin: 2rem 0;
}

.page3__content-text {
    font-size: 2rem;
    font-weight: 400;
    color: #B2B2B2;
    margin: 2rem 0;
}

.page3__content_link {
    color: #FFBB00;
    font-size: 2.4rem;
    margin: 3rem 0;
}

.page3__content_cols {
    display: flex;
    justify-content: space-between;
    color: #B2B2B2;
}

.page3__content_cols-item {
    font-size: 1.2rem;
    width: 45%;
}

.page3__content_cols-item-title {
    color: white;
    font-size: 2.2rem;
    margin: 2rem 0;
}



.page4 {
    margin: 3rem 0;
}

.page4__title {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    margin: 2.4rem auto;
    font-size: 4.6rem;
    font-weight: 600;
    color: black;
}

.page4__content {
    max-width: 1400px;
    min-width: 800px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.page4__content-card {
    width: 21%;
    border: groove;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    height: 10rem;
    overflow: hidden;
}

.page4__content-card img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.page5 {

}

.page5__content {
    max-width: 1400px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.page5__content-left {
    width: 50%;
    overflow: hidden;
}

.page5__content-left img {
    height: 100%;
}

.page5__content-right {
    background-color: #FFBB00;
    width: 50%;
    box-sizing: border-box;
    padding-top: 25%;
}

.page5__content-right-text {
    font-size: 3.2rem;
    font-weight: 900;
    font-style: italic;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    padding: 0 20% 0 10%;
    position: relative;
    color: #332200;
}

.quote1 {
    position: absolute;
    top: -2rem;
    left: 3%;
}

.quote2 {
    position: absolute;
    bottom: -2rem;
}

.page5__content-right-author {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 3rem;
    color: #664400;
    padding: 0 20% 0 10%;
}



.page6 {
    background-color: #161616;
    padding-bottom: 6rem;
}

.page6__content {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    margin: 0 auto;
}

.page6__content-title {
    font-size: 4.6rem;
    font-weight: 600;
    color: white;
    padding: 7rem 0 3rem 0;
}

.page6__content-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46rem;
}

.page6__content-card {
    width: 40%;
    height: 39rem;
    color: #9C9C9C;
    background-color: black;
    border-radius: 7px;
}

.page6__content-card:hover {
    height: 45rem;
    color: #FFBB00;
}

.page6__content-card:hover .page6__content-button {
    margin: 5rem auto;
}

.page6__content-card-title {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1rem;
}

.page6__content-card-title-text {
    /*color: #9C9C9C;*/
    font-weight: 600;
    font-size: 3.6rem;
}

.page6__content-card-title-price {
    color: white;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: right;
}

.page6__content-card-title-price div:nth-child(2) {
    color: #9C9C9C;
    font-size: 1.2rem;
    font-weight: 600;
}

.page6__content-card-list {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.page6__content-card-list ul {
    list-style-image: url("../img/rec02.png");
}

.page6__content-card-list li {
    margin: 2rem 0;
}

.page6__content-button {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px 15px;
    background: #2E2E2E;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #CCCCCC;
    margin: 2rem auto;
    width: 40%;
}

footer {
    background-color: black;
    color: #B2B2B2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40rem;
}

.footer__content {
    max-width: 1400px;
    min-width: 800px;
    width: 70%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.footer__logo {
    display: flex;
    width: 30%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
}

.footer__logo-title {
    font-size: 3.6rem;
}

.footer__logo-title a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__logo-footer {
    color: #9C9C9C;
    font-size: 1.2rem;
}

.footer__contacts {
    padding-top: 2rem;
}

.footer__contacts-title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}

.footer__contacts-det a{
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: none;
}

.footer__contacts-det{
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 3rem;
}

.footer__contacts-address {
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
}

.footer__contacts-social {
    padding-top: 3rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    padding-top: 2rem;
}

.footer__info-title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    padding-bottom: 3rem;
}

.footer__info-content {
    font-size: 1.8rem;
    line-height: 3.6rem;
}

.footer__info-content div:hover{
    color: #FFBB00
}